<div class='container'>
  <div>
    <input [(ngModel)]="task" placeholder="new task">
    <button (click)="addNewTask()">Add Task</button>
  </div>
</div>
<div class='container'>
  <div>
    <ul>
      <li *ngFor="let task of tasksList; let i=index">
        <p>{{task}}</p>
        <button (click)="deleteTask($event)" data-id="{{i}}">DeleteTask</button>
        <button (click)="doneTask(task, $event)">DoneTask</button>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li *ngFor="let task of taskDone">
        <p> {{task}}</p>
      </li>
    </ul>
  </div>
</div>
