<p [ngStyle]="{color:getColor()}">Zadanie do wykonania {{tasksList.length}}</p>
<ul>
  <li appDate [date]="task.created" *ngFor="let task of tasksList | sortName; let i=index; let odd = odd" [ngClass]="{'odd-li': odd === true, 'last-li': tasksList.length ===1}">
    <div>
      <p [innerText]="task.name | transformTask:'!' "></p>
      <button type="button" class="btn btn-primary" (click)="deleteTask(i)">delete</button>
      <button type="button" class="btn btn-secondary" (click)="donetask(task, i)">Done Task</button>
      <button type="button" class="btn btn-warning" (click)="filterTask(task)"> FiltrTask&delete</button>
    </div>
  </li>
</ul>
