<!-- <app-task-list></app-task-list>
<app-tasklist2></app-tasklist2>
<app-task-list3></app-task-list3> -->
<div class='container'>
  <app-add-task (taskOut)="hadnlerAddTask($event)"></app-add-task>
</div>
<div class='container'>
  <div>
    <app-tasks-to-do [tasks]="mainTasks" (deleteTaskIndex)="deleteTask($event)" (doneTaskObj)="doneTaskHandler($event)"></app-tasks-to-do>
  </div>
  <div>
    <app-tasks-to-done [tasks]="doneTasks"></app-tasks-to-done>
  </div>
</div>
<router-outlet></router-outlet>
