<!-- <app-task-list></app-task-list>
<app-tasklist2></app-tasklist2>
<app-task-list3></app-task-list3> -->
<div class='container'>
  <app-add-task></app-add-task>
</div>
<div class='container'>
  <app-action-bar [taskList]="mainTasks" (emitLookingList)="handlerLookignList($event)"></app-action-bar>
</div>
<div class='container'>
  <div>
    <app-tasks-to-do></app-tasks-to-do>
  </div>
  <div>
    <p>test list narazie jest pusta</p>
    <ul>
      <li *ngFor="let item of lookingList" [innerText]="item"></li>
    </ul>
  </div>
  <div>
    <app-tasks-to-done></app-tasks-to-done>
  </div>
</div>
<router-outlet></router-outlet>
