<div>
  <input type="text" [(ngModel)]="lookingTask" (keyup)="textHandler()" placeholder="Szukaj">
  <button [disabled]="taskList.length > 0? false : true" (click)="sortUp()">Sortuj Rosnąco</button>
  <button [disabled]="taskList.length > 0? false : true" (click)="sortDown()">Sortuj Malejąco</button>
  <button (click)="TaskRandomHandler(5, 10)">Task Rabdom</button>
</div>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="bootstrap datapicerk"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">pokaz</button>
      </div>
    </div>
  </div>
</form>
<ng-datepicker [options]="optionsTwo" [(ngModel)] = "newDatapicekr"></ng-datepicker>
