<div class="container">
  <div>
    <input type="text" [(ngModel)]="task" placeholder="Wpisz zadanie">
    <button (click)="addTask()">Dodaj Zadanie</button>
  </div>
</div>
<div class="container">
  <div>
    <h3>Zadania do zrobenia</h3>
    <h5>Liczba zadań do wykonania {{tasklist.length}}</h5>
    <ng-container *ngIf="tasklist.length > 0; else noTask">
      <ul>
        <li *ngFor="let task of tasklist; let i=index">
          {{i+1}} {{task}}
          <button (click)="removeTaskFiltr(task)">usun filtr</button>
          <button (click)="removreTaskId($event)" data-id="taskId{{i}}">usun i</button>
          <button (click)="doneTask(task)">wykonane same</button>
          <button (click)="doneTaskSemi(task, $event)" data-id="taskId{{i}}">wykonane semi</button>
        </li>
      </ul>
    </ng-container>
    <ng-template #noTask>
      <h5>brak Zadań do wykonania</h5>
    </ng-template>
  </div>
  <div>
    <h3>Zadania Zrobione</h3>
    <h5>Liczba wykonanych zadań {{doneTaskList.length}}</h5>
    <ul>
      <li *ngFor="let doneTask of doneTaskList; let i=index">
        {{i+1}} {{doneTask}}
      </li>
    </ul>
  </div>
</div>
